<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DayStyle</key>
	<dict>
		<key>GenericBackgroundColor</key>
		<integer>3863562569</integer>
		<key>GenericHighlightColor</key>
		<integer>158159</integer>
		<key>GenericTextColor</key>
		<integer>16777215</integer>
		<key>GenericStatusBarStyleDefault</key>
		<false/>
		<key>GenericStatusBarStyleOnMapDefault</key>
		<true/>
		<key>GenericWarningColor</key>
		<integer>3872784384</integer>
		<key>US</key>
		<dict>
			<key>any_road</key>
			<integer>3863562569</integer>
			<key>any_road_street_name_text_color</key>
			<integer>16777215</integer>
			<key>any_road_advice_route_color</key>
			<integer>16777215</integer>
			<key>any_road_statusBarStyleDefault</key>
			<false/>
			<key>any_road_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>primary_link</key>
			<integer>3858801152</integer>
			<key>primary_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>primary_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>primary_link_statusBarStyleDefault</key>
			<false/>
			<key>primary_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>primary</key>
			<integer>3858801152</integer>
			<key>primary_street_name_text_color</key>
			<integer>16777215</integer>
			<key>primary_advice_route_color</key>
			<integer>16777215</integer>
			<key>primary_statusBarStyleDefault</key>
			<false/>
			<key>primary_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>trunk_link</key>
			<integer>3858801152</integer>
			<key>trunk_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_link_statusBarStyleDefault</key>
			<false/>
			<key>trunk_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>trunk</key>
			<integer>3858801152</integer>
			<key>trunk_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_statusBarStyleDefault</key>
			<false/>
			<key>trunk_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway_link</key>
			<integer>3858801152</integer>
			<key>motorway_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_link_statusBarStyleDefault</key>
			<false/>
			<key>motorway_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway</key>
			<integer>3858801152</integer>
			<key>motorway_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_statusBarStyleDefault</key>
			<false/>
			<key>motorway_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
		</dict>
		<key>GB</key>
		<dict>
			<key>any_road</key>
			<integer>3863562569</integer>
			<key>any_road_street_name_text_color</key>
			<integer>16777215</integer>
			<key>any_road_advice_route_color</key>
			<integer>16777215</integer>
			<key>any_road_statusBarStyleDefault</key>
			<false/>
			<key>any_road_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>primary_link</key>
			<integer>3874615552</integer>
			<key>primary_link_street_name_text_color</key>
			<integer>0</integer>
			<key>primary_link_advice_route_color</key>
			<integer>0</integer>
			<key>primary_link_statusBarStyleDefault</key>
			<true/>
			<key>primary_link_destination_image_name</key>
			<string>icon_destination_advise_black.png</string>
			<key>primary</key>
			<integer>3874615552</integer>
			<key>primary_street_name_text_color</key>
			<integer>0</integer>
			<key>primary_advice_route_color</key>
			<integer>0</integer>
			<key>primary_statusBarStyleDefault</key>
			<true/>
			<key>primary_destination_image_name</key>
			<string>icon_destination_advise_black.png</string>
			<key>trunk_link</key>
			<integer>3858801152</integer>
			<key>trunk_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_link_statusBarStyleDefault</key>
			<false/>
			<key>trunk_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>trunk</key>
			<integer>3858801152</integer>
			<key>trunk_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_statusBarStyleDefault</key>
			<false/>
			<key>trunk_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway_link</key>
			<integer>3858777070</integer>
			<key>motorway_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_link_statusBarStyleDefault</key>
			<false/>
			<key>motorway_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway</key>
			<integer>3858777070</integer>
			<key>motorway_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_statusBarStyleDefault</key>
			<false/>
			<key>motorway_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
		</dict>
		<key>AT</key>
		<dict>
			<key>any_road</key>
			<integer>3863562569</integer>
			<key>any_road_street_name_text_color</key>
			<integer>16777215</integer>
			<key>any_road_advice_route_color</key>
			<integer>16777215</integer>
			<key>any_road_statusBarStyleDefault</key>
			<false/>
			<key>any_road_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>primary_link</key>
			<integer>3874615552</integer>
			<key>primary_link_street_name_text_color</key>
			<integer>0</integer>
			<key>primary_link_advice_route_color</key>
			<integer>0</integer>
			<key>primary_link_statusBarStyleDefault</key>
			<true/>
			<key>primary_link_destination_image_name</key>
			<string>icon_destination_advise_black.png</string>
			<key>primary</key>
			<integer>3874615552</integer>
			<key>primary_street_name_text_color</key>
			<integer>0</integer>
			<key>primary_advice_route_color</key>
			<integer>0</integer>
			<key>primary_statusBarStyleDefault</key>
			<true/>
			<key>primary_destination_image_name</key>
			<string>icon_destination_advise_black.png</string>
			<key>trunk_link</key>
			<integer>3863562569</integer>
			<key>trunk_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_link_statusBarStyleDefault</key>
			<false/>
			<key>trunk_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>trunk</key>
			<integer>3863562569</integer>
			<key>trunk_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>trunk_statusBarStyleDefault</key>
			<false/>
			<key>motorway_link</key>
			<integer>3858777070</integer>
			<key>motorway_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_link_advice_route_color</key>
			<real>16777215</real>
			<key>motorway_link_statusBarStyleDefault</key>
			<false/>
			<key>motorway_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway</key>
			<integer>3858777070</integer>
			<key>motorway_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_statusBarStyleDefault</key>
			<false/>
			<key>motorway_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
		</dict>
		<key>CH</key>
		<dict>
			<key>any_road</key>
			<integer>3863562569</integer>
			<key>any_road_street_name_text_color</key>
			<integer>16777215</integer>
			<key>any_road_advice_route_color</key>
			<integer>16777215</integer>
			<key>any_road_statusBarStyleDefault</key>
			<false/>
			<key>any_road_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>primary_link</key>
			<integer>3858777070</integer>
			<key>primary_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>primary_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>primary_link_statusBarStyleDefault</key>
			<false/>
			<key>primary_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>primary</key>
			<integer>3858777070</integer>
			<key>primary_street_name_text_color</key>
			<integer>16777215</integer>
			<key>primary_advice_route_color</key>
			<integer>16777215</integer>
			<key>primary_statusBarStyleDefault</key>
			<false/>
			<key>primary_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>trunk_link</key>
			<integer>3863562569</integer>
			<key>trunk_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_link_statusBarStyleDefault</key>
			<false/>
			<key>trunk_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>trunk</key>
			<integer>3863562569</integer>
			<key>trunk_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_statusBarStyleDefault</key>
			<false/>
			<key>trunk_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway_link</key>
			<integer>3858801152</integer>
			<key>motorway_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_link_statusBarStyleDefault</key>
			<false/>
			<key>motorway_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway</key>
			<integer>3858801152</integer>
			<key>motorway_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_statusBarStyleDefault</key>
			<false/>
			<key>motorway_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
		</dict>
		<key>IE</key>
		<dict>
			<key>any_road</key>
			<integer>3863562569</integer>
			<key>any_road_street_name_text_color</key>
			<integer>16777215</integer>
			<key>any_road_advice_route_color</key>
			<integer>16777215</integer>
			<key>any_road_statusBarStyleDefault</key>
			<false/>
			<key>any_road_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>primary_link</key>
			<integer>3874615552</integer>
			<key>primary_link_street_name_text_color</key>
			<integer>0</integer>
			<key>primary_link_advice_route_color</key>
			<integer>0</integer>
			<key>primary_link_statusBarStyleDefault</key>
			<true/>
			<key>primary_link_destination_image_name</key>
			<string>icon_destination_advise_black.png</string>
			<key>primary</key>
			<integer>3874615552</integer>
			<key>primary_street_name_text_color</key>
			<integer>0</integer>
			<key>primary_advice_route_color</key>
			<integer>0</integer>
			<key>primary_statusBarStyleDefault</key>
			<true/>
			<key>primary_destination_image_name</key>
			<string>icon_destination_advise_black.png</string>
			<key>trunk_link</key>
			<integer>3863562569</integer>
			<key>trunk_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_link_statusBarStyleDefault</key>
			<true/>
			<key>trunk_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>trunk</key>
			<integer>3863562569</integer>
			<key>trunk_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_statusBarStyleDefault</key>
			<false/>
			<key>trunk_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway_link</key>
			<integer>3858777070</integer>
			<key>motorway_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_link_statusBarStyleDefault</key>
			<false/>
			<key>motorway_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway</key>
			<integer>3858777070</integer>
			<key>motorway_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_statusBarStyleDefault</key>
			<false/>
			<key>motorway_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
		</dict>
		<key>DE</key>
		<dict>
			<key>any_road</key>
			<integer>3863562569</integer>
			<key>any_road_street_name_text_color</key>
			<integer>16777215</integer>
			<key>any_road_advice_route_color</key>
			<integer>16777215</integer>
			<key>any_road_statusBarStyleDefault</key>
			<false/>
			<key>any_road_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>primary_link</key>
			<integer>3874615552</integer>
			<key>primary_link_street_name_text_color</key>
			<integer>0</integer>
			<key>primary_link_advice_route_color</key>
			<integer>0</integer>
			<key>primary_link_statusBarStyleDefault</key>
			<true/>
			<key>primary_link_destination_image_name</key>
			<string>icon_destination_advise_black.png</string>
			<key>primary</key>
			<integer>3874615552</integer>
			<key>primary_street_name_text_color</key>
			<integer>0</integer>
			<key>primary_advice_route_color</key>
			<integer>0</integer>
			<key>primary_statusBarStyleDefault</key>
			<true/>
			<key>primary_destination_image_name</key>
			<string>icon_destination_advise_black.png</string>
			<key>trunk_link</key>
			<integer>3863562569</integer>
			<key>trunk_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_link_statusBarStyleDefault</key>
			<false/>
			<key>trunk_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>trunk</key>
			<integer>3863562569</integer>
			<key>trunk_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_statusBarStyleDefault</key>
			<false/>
			<key>trunk_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway_link</key>
			<integer>3858777070</integer>
			<key>motorway_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_link_statusBarStyleDefault</key>
			<false/>
			<key>motorway_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway</key>
			<integer>3858777070</integer>
			<key>motorway_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_statusBarStyleDefault</key>
			<false/>
			<key>motorway_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
		</dict>
		<key>default</key>
		<dict>
			<key>motorway</key>
			<integer>3863562569</integer>
			<key>motorway_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_statusBarStyleDefault</key>
			<false/>
			<key>motorway_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway_link</key>
			<integer>3863562569</integer>
			<key>motorway_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_link_statusBarStyleDefault</key>
			<false/>
			<key>motorway_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>trunk</key>
			<integer>3863562569</integer>
			<key>trunk_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_statusBarStyleDefault</key>
			<false/>
			<key>trunk_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>trunk_link</key>
			<integer>3863562569</integer>
			<key>trunk_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_link_statusBarStyleDefault</key>
			<false/>
			<key>trunk_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>primary</key>
			<integer>3863562569</integer>
			<key>primary_street_name_text_color</key>
			<integer>16777215</integer>
			<key>primary_advice_route_color</key>
			<integer>16777215</integer>
			<key>primary_statusBarStyleDefault</key>
			<false/>
			<key>primary_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>primary_link</key>
			<integer>3863562569</integer>
			<key>primary_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>primary_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>primary_link_statusBarStyleDefault</key>
			<false/>
			<key>primary_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>any_road</key>
			<integer>3863562569</integer>
			<key>any_road_street_name_text_color</key>
			<integer>16777215</integer>
			<key>any_road_advice_route_color</key>
			<integer>16777215</integer>
			<key>any_road_statusBarStyleDefault</key>
			<false/>
			<key>any_road_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
		</dict>
	</dict>
	<key>NightStyle</key>
	<dict>
		<key>GenericBackgroundColor</key>
		<integer>3865865324</integer>
		<key>GenericHighlightColor</key>
		<integer>158159</integer>
		<key>GenericTextColor</key>
		<integer>16777215</integer>
		<key>GenericStatusBarStyleDefault</key>
		<false/>
		<key>GenericStatusBarStyleOnMapDefault</key>
		<false/>
		<key>GenericWarningColor</key>
		<integer>3868858906</integer>
		<key>US</key>
		<dict>
			<key>any_road</key>
			<integer>3865865324</integer>
			<key>any_road_street_name_text_color</key>
			<integer>16777215</integer>
			<key>any_road_advice_route_color</key>
			<integer>16777215</integer>
			<key>any_road_statusBarStyleDefault</key>
			<false/>
			<key>any_road_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>primary_link</key>
			<integer>3860886048</integer>
			<key>primary_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>primary_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>primary_link_statusBarStyleDefault</key>
			<false/>
			<key>primary_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>primary</key>
			<integer>3860886048</integer>
			<key>primary_street_name_text_color</key>
			<integer>16777215</integer>
			<key>primary_advice_route_color</key>
			<integer>16777215</integer>
			<key>primary_statusBarStyleDefault</key>
			<false/>
			<key>primary_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>trunk_link</key>
			<integer>3860886048</integer>
			<key>trunk_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_link_statusBarStyleDefault</key>
			<false/>
			<key>trunk_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>trunk</key>
			<integer>3860886048</integer>
			<key>trunk_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_statusBarStyleDefault</key>
			<false/>
			<key>trunk_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway_link</key>
			<integer>3860886048</integer>
			<key>motorway_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_link_statusBarStyleDefault</key>
			<false/>
			<key>motorway_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway</key>
			<integer>3860886048</integer>
			<key>motorway_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_statusBarStyleDefault</key>
			<false/>
			<key>motorway_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
		</dict>
		<key>GB</key>
		<dict>
			<key>any_road</key>
			<integer>3865865324</integer>
			<key>any_road_street_name_text_color</key>
			<integer>16777215</integer>
			<key>any_road_advice_route_color</key>
			<integer>16777215</integer>
			<key>any_road_statusBarStyleDefault</key>
			<false/>
			<key>any_road_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>primary_link</key>
			<integer>3868825888</integer>
			<key>primary_link_street_name_text_color</key>
			<integer>0</integer>
			<key>primary_link_advice_route_color</key>
			<integer>0</integer>
			<key>primary_link_statusBarStyleDefault</key>
			<true/>
			<key>primary_link_destination_image_name</key>
			<string>icon_destination_advise_black.png</string>
			<key>primary</key>
			<integer>3868825888</integer>
			<key>primary_street_name_text_color</key>
			<integer>0</integer>
			<key>primary_advice_route_color</key>
			<integer>0</integer>
			<key>primary_statusBarStyleDefault</key>
			<true/>
			<key>primary_destination_image_name</key>
			<string>icon_destination_advise_black.png</string>
			<key>trunk_link</key>
			<integer>3860886048</integer>
			<key>trunk_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_link_statusBarStyleDefault</key>
			<false/>
			<key>trunk_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>trunk</key>
			<integer>3860886048</integer>
			<key>trunk_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_statusBarStyleDefault</key>
			<false/>
			<key>trunk_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway_link</key>
			<integer>3860480681</integer>
			<key>motorway_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_link_statusBarStyleDefault</key>
			<false/>
			<key>motorway_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway</key>
			<integer>3860480681</integer>
			<key>motorway_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_statusBarStyleDefault</key>
			<false/>
			<key>motorway_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
		</dict>
		<key>AT</key>
		<dict>
			<key>any_road</key>
			<integer>3865865324</integer>
			<key>any_road_street_name_text_color</key>
			<integer>16777215</integer>
			<key>any_road_advice_route_color</key>
			<integer>16777215</integer>
			<key>any_road_statusBarStyleDefault</key>
			<false/>
			<key>any_road_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>primary_link</key>
			<integer>3868825888</integer>
			<key>primary_link_street_name_text_color</key>
			<integer>0</integer>
			<key>primary_link_advice_route_color</key>
			<integer>0</integer>
			<key>primary_link_statusBarStyleDefault</key>
			<true/>
			<key>primary_link_destination_image_name</key>
			<string>icon_destination_advise_black.png</string>
			<key>primary</key>
			<integer>3868825888</integer>
			<key>primary_street_name_text_color</key>
			<integer>0</integer>
			<key>primary_advice_route_color</key>
			<integer>0</integer>
			<key>primary_statusBarStyleDefault</key>
			<true/>
			<key>primary_destination_image_name</key>
			<string>icon_destination_advise_black.png</string>
			<key>trunk_link</key>
			<integer>3865865324</integer>
			<key>trunk_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_link_statusBarStyleDefault</key>
			<false/>
			<key>trunk_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>trunk</key>
			<integer>3865865324</integer>
			<key>trunk_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>trunk_statusBarStyleDefault</key>
			<false/>
			<key>motorway_link</key>
			<integer>3860480681</integer>
			<key>motorway_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_link_statusBarStyleDefault</key>
			<false/>
			<key>motorway_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway</key>
			<integer>3860480681</integer>
			<key>motorway_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_statusBarStyleDefault</key>
			<false/>
			<key>motorway_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
		</dict>
		<key>CH</key>
		<dict>
			<key>any_road</key>
			<integer>3865865324</integer>
			<key>any_road_street_name_text_color</key>
			<integer>16777215</integer>
			<key>any_road_advice_route_color</key>
			<integer>16777215</integer>
			<key>any_road_statusBarStyleDefault</key>
			<false/>
			<key>any_road_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>primary_link</key>
			<integer>3860480681</integer>
			<key>primary_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>primary_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>primary_link_statusBarStyleDefault</key>
			<false/>
			<key>primary_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>primary</key>
			<integer>3860480681</integer>
			<key>primary_street_name_text_color</key>
			<integer>16777215</integer>
			<key>primary_advice_route_color</key>
			<integer>16777215</integer>
			<key>primary_statusBarStyleDefault</key>
			<false/>
			<key>primary_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>trunk_link</key>
			<integer>3865865324</integer>
			<key>trunk_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_link_statusBarStyleDefault</key>
			<false/>
			<key>trunk_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>trunk</key>
			<integer>3865865324</integer>
			<key>trunk_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_statusBarStyleDefault</key>
			<false/>
			<key>trunk_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway_link</key>
			<integer>3860886048</integer>
			<key>motorway_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_link_statusBarStyleDefault</key>
			<false/>
			<key>motorway_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway</key>
			<integer>3860886048</integer>
			<key>motorway_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_statusBarStyleDefault</key>
			<false/>
			<key>motorway_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
		</dict>
		<key>IE</key>
		<dict>
			<key>any_road</key>
			<integer>3865865324</integer>
			<key>any_road_street_name_text_color</key>
			<integer>16777215</integer>
			<key>any_road_advice_route_color</key>
			<integer>16777215</integer>
			<key>any_road_statusBarStyleDefault</key>
			<false/>
			<key>any_road_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>primary_link</key>
			<integer>3868825888</integer>
			<key>primary_link_street_name_text_color</key>
			<integer>0</integer>
			<key>primary_link_advice_route_color</key>
			<integer>0</integer>
			<key>primary_link_statusBarStyleDefault</key>
			<true/>
			<key>primary_link_destination_image_name</key>
			<string>icon_destination_advise_black.png</string>
			<key>primary</key>
			<integer>3868825888</integer>
			<key>primary_street_name_text_color</key>
			<integer>0</integer>
			<key>primary_advice_route_color</key>
			<integer>0</integer>
			<key>primary_statusBarStyleDefault</key>
			<true/>
			<key>primary_destination_image_name</key>
			<string>icon_destination_advise_black.png</string>
			<key>trunk_link</key>
			<integer>3865865324</integer>
			<key>trunk_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_link_statusBarStyleDefault</key>
			<true/>
			<key>trunk_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>trunk</key>
			<integer>3865865324</integer>
			<key>trunk_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_statusBarStyleDefault</key>
			<false/>
			<key>trunk_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway_link</key>
			<integer>3860480681</integer>
			<key>motorway_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_link_statusBarStyleDefault</key>
			<false/>
			<key>motorway_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway</key>
			<integer>3860480681</integer>
			<key>motorway_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_statusBarStyleDefault</key>
			<false/>
			<key>motorway_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
		</dict>
		<key>DE</key>
		<dict>
			<key>any_road</key>
			<integer>3865865324</integer>
			<key>any_road_street_name_text_color</key>
			<integer>16777215</integer>
			<key>any_road_advice_route_color</key>
			<integer>16777215</integer>
			<key>any_road_statusBarStyleDefault</key>
			<false/>
			<key>any_road_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>primary_link</key>
			<integer>3868825888</integer>
			<key>primary_link_street_name_text_color</key>
			<integer>0</integer>
			<key>primary_link_advice_route_color</key>
			<integer>0</integer>
			<key>primary_link_statusBarStyleDefault</key>
			<true/>
			<key>primary_link_destination_image_name</key>
			<string>icon_destination_advise_black.png</string>
			<key>primary</key>
			<integer>3868825888</integer>
			<key>primary_street_name_text_color</key>
			<integer>0</integer>
			<key>primary_advice_route_color</key>
			<integer>0</integer>
			<key>primary_statusBarStyleDefault</key>
			<true/>
			<key>primary_destination_image_name</key>
			<string>icon_destination_advise_black.png</string>
			<key>trunk_link</key>
			<integer>3865865324</integer>
			<key>trunk_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_link_statusBarStyleDefault</key>
			<false/>
			<key>trunk_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>trunk</key>
			<integer>3865865324</integer>
			<key>trunk_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_statusBarStyleDefault</key>
			<false/>
			<key>trunk_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway_link</key>
			<integer>3860480681</integer>
			<key>motorway_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_link_statusBarStyleDefault</key>
			<false/>
			<key>motorway_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway</key>
			<integer>3860480681</integer>
			<key>motorway_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_statusBarStyleDefault</key>
			<false/>
			<key>motorway_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
		</dict>
		<key>default</key>
		<dict>
			<key>motorway</key>
			<integer>3865865324</integer>
			<key>motorway_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_statusBarStyleDefault</key>
			<false/>
			<key>motorway_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>motorway_link</key>
			<integer>3865865324</integer>
			<key>motorway_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>motorway_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>motorway_link_statusBarStyleDefault</key>
			<false/>
			<key>motorway_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>trunk</key>
			<integer>3865865324</integer>
			<key>trunk_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_statusBarStyleDefault</key>
			<false/>
			<key>trunk_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>trunk_link</key>
			<integer>3865865324</integer>
			<key>trunk_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>trunk_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>trunk_link_statusBarStyleDefault</key>
			<false/>
			<key>trunk_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>primary</key>
			<integer>3865865324</integer>
			<key>primary_street_name_text_color</key>
			<integer>16777215</integer>
			<key>primary_advice_route_color</key>
			<integer>16777215</integer>
			<key>primary_statusBarStyleDefault</key>
			<false/>
			<key>primary_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>primary_link</key>
			<integer>3865865324</integer>
			<key>primary_link_street_name_text_color</key>
			<integer>16777215</integer>
			<key>primary_link_advice_route_color</key>
			<integer>16777215</integer>
			<key>primary_link_statusBarStyleDefault</key>
			<false/>
			<key>primary_link_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
			<key>any_road</key>
			<integer>3865865324</integer>
			<key>any_road_street_name_text_color</key>
			<integer>16777215</integer>
			<key>any_road_advice_route_color</key>
			<integer>16777215</integer>
			<key>any_road_statusBarStyleDefault</key>
			<false/>
			<key>any_road_destination_image_name</key>
			<string>icon_destination_advise_white.png</string>
		</dict>
	</dict>
</dict>
</plist>
